#Media_Agency-menu {
  min-width: 850px;
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInCenter {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-left {
  animation: fadeInLeft 1s ease forwards;
}
.animate-fade-in-right {
  animation: fadeInRight 1s ease forwards;
}
.animate-fade-in-center {
  animation: fadeInCenter 1s ease forwards;
}
.slick-dots li button:before {
  font-size: 12px;
  color: #d4a850;
  opacity: 0.5;
  margin: 0px;
}

.slick-dots li.slick-active button:before {
  font-size: 15px;
  color: #d4a850;
  opacity: 1;
}
:root {
  --swiper-theme-color: #d4a850 !important;
}
.swiper-pagination-bullet {
  background-image: linear-gradient(90deg, #d4a850, #c08000) !important;
  width: 0.75rem;
  height: 0.75rem;
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.5);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 1);
}
.swiper-pagination {
  margin-bottom: 1.5rem;
}
.slick-dots {
  position: relative;
  bottom: 0;
}
footer {
  background: linear-gradient(3deg, #151414 13%, #282727 80%);
}

@media (min-width: 768px) {
  footer {
    background: url("./assets/images/bg-Footer.webp");
  }
}
